<%- include('../partials/head'); %>
    <%- include('../partials/navbar'); %>

        <h1>Welcome</h1>
        <div class="row">
            <% data.forEach(function(datas){ %>

                <div class="card" style="width: 18rem;">
                    <a href="/watch?v=<%- datas.id %>">
                        <img src="/thumbnail/<%- datas.url_thumbnail %>" class="card-img-top" alt="...">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title"><%- datas.title %></h5>
                            <p class="card-text"><%- datas.user_name %>  <%- datas.duration %>  <%- datas.views %> vue </p>
                        </div>
                    
                </div>

            <% }); %>
        </div>
        <%- include('../partials/footer'); %>