<%- include('../partials/head'); %>
<%- include('../partials/navbar'); %>

<video id="videoPlayer" width="750" controls >
    <source id="videoSource" src="/video?v=<%= data.url_file %>" type="video/webm" />
  </video>
  <h1><%= data.title %></h1>
  <p class="card-text"><%- data.user_name %> <%- data.views %> vue</p>
  <h4>Description</h2>
  <p><%- data.description %></p> 

  <% if (locals.user) { %>
    <% if (locals.favExiste) { %>

    <a href="/favorite/<%= data.id %>"><img src="/icones/MaterialSymbolsFavoriteOutline.svg" alt=""></a>
    <% } else {  %>
      <a href="/favoritedelete/<%- data.id %>"><img src="/icones/MaterialSymbolsFavorite.svg" alt=""></a>
      <% }  %>
  <% }  %>
 
  
<%- include('../partials/footer'); %>